Package: session-counter-csv
Version: 1.0-1
Section: base
Priority: optional
Architecture: armhf
Depends: libc6 (>= 1),
         nginx (>= 1),
         session-counter (>= 1)
Maintainer: Matt Jadud (matthew.jadud@gsa.gov)
Description: Session Counter for IMLS Pilot
 Sets up a nginx config to allow retrieval of CSVs.
