<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://18f.gsa.gov">
              {% asset logo.svg width="50" alt="GSA logo" %}
            </a>
            <p>A product of <a href="https://10x.gsa.gov/">10x</a> and <a class="footer-logo media_link" href="https://18f.gsa.gov">18F</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
