<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Short term impact.</h3>
          <p>We believe that a focused approach should, with three months of implementation effort, be able to reduce the PLS data gathering efforts by 10% to 30%.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Long term impact.</h3>
          <p>Through agile contracting and sharing of digital infrastructure, there is an opportunity to have further material impact at the local, state, and federal level, thus creating a blueprint for shared components at all levels of government.</p>
        </div>
      </div>
    </div>
  </div>
</section>
