<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Automating Data Collection and Validation for Federal Agencies</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>We are creating shared components for <a href="https://www.imls.gov/">The Institute of Museums and Library Services</a>.</p>
      <p>As part of this effort, we are building and demoing a prototype in the open to explore automation for the <a href="https://www.imls.gov/research-evaluation/data-collection/public-libraries-survey">Public Library Survey</a>. We aim to generalize this shared components work for other Federal agencies in the future.</p>
      <p>Through the judicious use of APIs and automation, we believe we can give 800 years of yearly effort back to librarians, and therefore their local communities.</p>
    </div>
  </div>
</section>
