<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Automating Data Collection and Validation for Federal Agencies</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>
        We are building and demoing prototypes with <a href="https://www.imls.gov/">The Institute of Museum and Library Services</a> (IMLS). Our goal is to <b>reduce work for librarians</b>. Specifically, to try and automate some of the data collection, validation, and reporting that goes into the <a href="https://www.imls.gov/research-evaluation/data-collection/public-libraries-survey">Public Libraries Survey</a> (PLS).
      </p>
      <!-- <p>Through the use of APIs and automation, we believe we can give 800 years of yearly effort back to librarians, and therefore their local communities.</p>-->
      <p><b><a href="{{ '/about/' | prepend: site.baseurl }}">Join us in piloting some new technologies!</a></b></p>
    </div>
  </div>
</section>
