[Unit]
Description=Runs the IMLS playbook once a day.
Requires=run-imls-client-pi-playbook.service

[Timer]
Unit=run-imls-client-pi-playbook.service
OnCalendar=*-*-* 2:00:00
Persistent=true

[Install]
WantedBy=timers.target
