[Unit]
Description=Install binaries and the IMLS playbook (for dev purposes only).

[Service]
ExecStartPre=sh -c "mkdir -p /opt/imls"
ExecStart=sh -c "curl -s https://raw.githubusercontent.com/cantsin/imls-pi-stack/main/dev.shim -o /opt/imls/dev.shim"
ExecStart=bash /opt/imls/dev.shim
Type=oneshot

[Install]
WantedBy=multi-user.target
