Package: session-counter
Version: 1.1-1
Section: base
Priority: optional
Architecture: armhf
Depends: libc6 (>= 1),
         lshw (>= 1),
         tshark (>= 1),
         input-initial-configuration (>= 1)
Maintainer: Matt Jadud (matthew.jadud@gsa.gov)
Description: Session Counter for IMLS Pilot
