[Unit]
Description=Session Counter Service
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=10

User=root
Group=root
LimitNOFILE=1024

WorkingDirectory=/home/pi/session-counter
ExecStart="{{ install_path }}/session-counter"

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=session-counter

[Install]
WantedBy=multi-user.target
