Package: input-initial-configuration
Version: 1.0-1
Section: base
Priority: optional
Architecture: armhf 
Depends: libc6 (>= 1)
Maintainer: Matt Jadud (matthew.jadud@gsa.gov)
Description: Tool to read in IMLS settings
